*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0;
}
.container{
    max-width: 100vw;
    margin: 0 60px;
}
header{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.menu ul{
    margin: 0;
}
.menu ul li{
    display: inline;
    padding: 10px 0 10px 50px;
}
.menu ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #1D1B19;
    line-height: 24px;
    opacity: 0.8;
}
.menu ul li a:hover{
    opacity: 1;
    padding-bottom: 5px;
    border-bottom: 1px solid #FF5300;
}
.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.banner-title-bottom{
    position: absolute;
    top: 70%;
    display: flex;
    align-items: center;
}
.banner h2{
    font-size: 60px;
    line-height: 70px;
    word-spacing: 6px;
    font-weight: bold;
    position: absolute;
    top: 12%;
    right: 40%;
}
.banner-title i{
    color: #FF5300;
    font-size: 36px;
}
.banner-title span{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
.banner-image{
    width: 58vw;
}
.banner-image img{
    width: 100%;
}
.banner-line{
    border-bottom: 8px solid #FF5300;
    width: 35vw;
    position: absolute;
    bottom: 5px;
    right: 1px;
}
.tourism{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
    grid-gap: 75px;
}
.tourism-item i{
    font-size: 40px;
}
.tourism-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tourism-item-information h5{
    margin: 0;
    font-size: 18px;
    line-height: 21px;
    color: #FF5300;
}
.tourism-item-information p{
    margin: 5px 0;
    font-size: 18px;
    color: #352F2B;
    font-weight: bold;
}
.perfectChoice{
    margin-top: 159px;
    display: grid;
    grid-template-columns: 440px auto;
    grid-gap: 30px;
}
.perfectChoice-title h3{
    font-size: 48px;
    line-height: 56px;
    margin: 0;
}
.perfectChoice-title p{
    font-size: 20px;
    line-height: 24px;
    opacity: 0.8;
    margin-top: 30px;
}
.perfectChoice-title button{
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    background: #FF5300;
    color: #fff;
    padding: 20px 42px;
    border: none;
    cursor: pointer;
    margin-top: 25px;
}
.perfectChoice-slider{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    position: relative;
}
.perfectChoice-slider-item img{
    border-radius: 10px;
    width: 100%;
}
.perfectChoice-slider-item{
    position: relative;
    max-width: 220px;
}
.perfectChoice-slider-item-news h5{
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin: 0;
}
.perfectChoice-slider-item-news i{
    color: #FFC107;
}
.perfectChoice-slider-item-news{
    position: absolute;
    top: 80%;
    left: 5%;
}
.perfectChoice-slider-next{
    font-size: 36px;
    background: #FF5300;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 40%;
    right: 0;
}
.perfectChoice-slider-next i{
    margin-top: 7px;
}
.topExperiences{
    margin-top: 110px;
}
.topExperiences h3{
    font-size: 48px;
    line-height: 56px;
    text-align: center;
}
.topExperiences-center{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    margin: 20px 50px;
}
.topExperiences-item{
    position: relative;
}
.topExperiences-image{
    position: relative;
}
.topExperiences-image img{
    border-radius: 10px;
}
.topExperiences-image-first{
    position: absolute;
}
.topExperiences-image-first:hover{
    display: none;
}
.topExperiences-item-title h4{
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    padding-right: 20px;
}
.topExperiences-item-title p{
    color: #FFD4BF;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    margin: 0;
}
.topExperiences-item-title i{
    color: #FFC107;
    font-size: 12px;
}
.destinationsNear h3{
    font-size: 48px;
    line-height: 58px;
    margin-top: 110px;
    text-align: center;
}
.destinationsNear-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}
.destinationsNear-columns{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.destinationsNear-columns h5{
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}
.destinationsNear-columns i{
    font-size: 12px;
    color:#FFC107;
}
.bestPlaces{
    margin: 0 30px;
}
.bestPlaces h3{
    margin-top: 110px;
    font-size: 48px;
    font-weight: bold;
    line-height: 56px;
    text-align: center;
}
.bestPlaces-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 16px;
}
.bestPlaces-row img{
    border-radius: 10px;
}
.bestPlaces-columns-left{
    position: relative;
}
.bestPlaces-columns-title{
    position: absolute;
    top: 360px;
    left: 20px;
    z-index: 1;
}
.bestPlaces-columns-title h5{
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    color: #fff;
}
.bestPlaces-columns-title p{
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #fff;
}
.bestPlaces-star i{
    color: #FFC107;
    font-size: 12px;
}
.bestPlaces-columns-right{
    position: relative;
}
.bestPlaces-columns-right img{
    width: 100%;
    height: 100%;
}
.bestPlaces-columns-row{
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.8fr;
    grid-gap: 16px;
}
.bestPlaces-columns-item{
    
}


